body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #40E0D0, #20B2AA);
    background-attachment: fixed;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select, button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    transform: translateY(1px);
}

select:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

select:focus {
    outline: none;
    border-color: #00CED1;
    background-color: #40E0D0;
}

#sudoku-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    gap: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
